@import url(http://fonts.googleapis.com/css?family=Lato:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: white
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: #888;
}

header, 
.home {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: black;
}

.error {
    color: red;
}

.links {
    display: block;
    font-size: 16px;
}

.links a {
    padding: 5px;
}

.post-actions {
    color: #888;
    display: inline;
    width: 1em;
}

.main-title {
    display: block;
    color: black;
    font-size: 40px;
}

.comment {
    margin: 2px 0 2px 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #555;
}

.post-title {
    font-size: 22px;
    margin-top: 5px;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #666;
}

.post-content {
    margin-top: 5px;
}


/* Sign in and Sign up Forms */

/*Login template code and design obtained from Colorlib: Transparent Form With Logo
https://colorlib.com/wp/html5-and-css3-login-forms/
To download: http://codepen.io/motorlatitude/share/zip/JFkro/*/


.signin{
    max-width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 15px;
}

.signin input[type=text]{
    width: 400px;
    height: 30px;
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 2px;
    color: darkgrey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    opacity: 0.6;
}

.signin input[type=password]{
    width: 400px;
    height: 30px;
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 2px;
    color: darkgrey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.signin input[type=submit]{
    width: 400px;
    height: 35px;
    border: 1px solid darkgrey;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.signin input[type=submit]:hover{
    opacity: 0.8;
}

.signin input[type=submit]:active{
    opacity: 0.6;
}

.signin input[type=text]:focus{
    outline: none;
    border: 1px solid grey;
}

.signin input[type=password]:focus{
    outline: none;
    border: 1px solid grey;
}

.signin input[type=submit]:focus{
    outline: none;
}

.signin textarea:hover{
    opacity: 0.8;
}

.signin textarea:active{
    opacity: 0.6;
}

.signin textarea:focus{
    outline: none;
    border: 1px solid grey;
}

.signin textarea:focus{
    outline: none;
    border: 1px solid grey;
}

.signin textarea:focus{
    outline: none;
}
.signin textarea{
    width: 400px;
    height: 300px;
    background: transparent;
    border: 1px solid lightgrey;
    border-radius: 2px;
    color: darkgrey;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

::-webkit-input-placeholder{
   color: lightgrey;
}

::-moz-input-placeholder{
   color: lightgrey;
}

