<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog</title>
  <script type="text/javascript" src="static/js/jquery-3.1.1.js"></script>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="/static/css/responsive.css">

  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
  
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
</head>

  <body class="container-fluid">
    
    <header>
      <div class="row">
        <div class="links col-xs-12">
          {% if user %}
            <h4>Welcome {{user.name}}!</h4>
            <a href="/newpost">New Post</a>
            <a href="/logout">Log out</a>
            <a href="/blog">Home</a>
          {% else %}
            <a href="/login">Log in</a>
            <a href="/signup">Sign Up</a>
            <a href="/">Home</a>
          {% endif %}
            <a href="mailto:lupinmarina@gmail.com" target="_blank" >Email Me</a>
            <a href="https://www.linkedin.com/in/lupinmarina/" target="_blank">Connect</a>
            <a href="https://github.com/mlupin" target="_blank">Repo</a>
        </div>
        
        <div class="main-title col-xs-12">
          <h1>Blog Project</h1>
        </div>
      </div>
    </header> 

  <!-- Main -->
    <main class="container-fluid">
      <div class="row">
          <div id="content">
            {{access_error}}
            {% block content %}
            {% endblock %}
          </div>
      </div>
    </main>

  </body>

</html>

