<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/css/stylesheet.css" />

  <title>Multi User Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Multi User Blog
  </a>

  <div class="login-area">
    {% if user %}
      <a class="signin-link" href="/blog/newpost">new post</a>
      <a class="signin-link" href="/signout">sign out</a>
    {% else %}
      <a class="signin-link" href="/signin">sign in</a>
      <a class="signin-link" href="/signup">sign up</a>
    {% endif %}
  </div>

  <div id="content">
  {{access_error}}
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

