{% extends "base.html" %}

{% block content %}

  <div class="header col-xs-12">
      <h3>Delete Post</h3>
  </div>

  <div class="signin col-xs-12">
      <form method="post">
        <h4>{{ post.subject }} by {{ user.name }}</h4>
        <h5>Posted on: {{ post.created.strftime("%b %d, %Y") }}</h5>
        <article>{{ post.content | safe }}</article>
        
        <input type="submit" value="Delete">
        <input type="submit" value="Cancel" onClick="window.history.back();">

      </form>
  </div>

{% endblock %}