{% extends "base.html" %}

{% block content %}

        
    {% for post in posts %}
        {% if user %}
            {{ post.render(user.key().id()) | safe }}
            
            {% if user.key().id() == post.user_id %}
                <div id="fontawesome" class="post-actions">
                    <a href="/{{post.key().id()}}/delete" class="fontawesome-trash" alt="Delete Post"></a>
                    <a href="/{{post.key().id()}}/edit" class="fontawesome-pencil" alt="Edit Post"></a>
                </div>
            {% endif %}
        {% if user %}
                <div id="fontawesome" class="post-actions">
                    <a href="/{{post.key().id()}}/like" class="fontawesome-heart"></a>
                    <a href="/{{post.key().id()}}/unlike" class="fontawesome-heart-empty"></a>
                </div>
            {% endif %}
            <div id="fontawesome" class="post-actions">
                <a href="/{{post.key().id()}}/{{user.key().id()}}/addcomment" class="fontawesome-comment" alt="Comment"></a>
            </div>
        {% else %}
            {{ post.render(None) | safe }}
        {% endif %}
        
        

        {% for comment in comments %}
            {% if post.key().id() == comment.post_id %}
                <h5>Reply by {{ comment.author }} on {{ comment.created.strftime("%b %d, %Y")}}</h5>
                <p>{{ comment.content}}</p>
                
                <div>
                    {% if user and user.key().id() == comment.user_id %}
                        <div>
                            <a href="/{{post.key().id()}}/{{user.key().id()}}/{{comment.key().id()}}/deletecomment">
                            deletecomment</a>
                        </div>
                        <div>
                            <a href="/{{post.key().id()}}/{{user.key().id()}}/{{comment.key().id()}}/editcomment">editcomment</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    
{% endblock %}
