{% extends "base.html" %}

{% block content %}
	{% if user %}
		{{ post.render(user.key().id()) | safe }}
	{% else %}
		{{ post.render(None) | safe }}
	{% endif %}

	{% if user and user.key().id() == post.user_id %}
		<a href="/{{post.key().id()}}/delete">delete</a>
		<a href="/{{post.key().id()}}/edit">edit</a>
	{% endif %}

	{% if user %}
		<a href="/{{post.key().id()}}/{{user.key().id()}}/addcomment">comment</a>
	{% endif %}

	{% for comment in comments %}
        <h5>{{ comment.author }}</h5>
        <h5>{{ comment.created.strftime("%b %d, %Y")}}</h5>
        <p>{{ comment.content}}</p>
        
        <div>
            {% if user and user.key().id() == comment.user_id %}
                <a href="/{{post.key().id()}}/{{user.key().id()}}/{{comment.key().id()}}/deletecomment">delete</a>
                <a href="/{{post.key().id()}}/{{user.key().id()}}/{{comment.key().id()}}/editcomment">edit</a>
            {% endif %}
        </div>

    {% endfor %}
{% endblock %}
