<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{post.subject}} by {{post.author}}
    </div>

    <div class="post-date">
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{post._render_text | safe}}
  </div>


<!--   TODO: make it so options are only visible when user hasn't yet liked a post
             and so that a user can only click unlike if the user already liked the post
             prevent multiple likes for one user
 -->  
 <div class="post-likes">
      
        <span>{{post.likes}}</span>

  </div>
  
</div>
