<div class="post">
  <div class="post-heading">
    <div class="post-title">
      {{post.subject}} by {{post.author}}
    </div>

    <div class="post-date">
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{post._render_text | safe}}
  </div>

 <div class="post-likes">
    <a href="/{{post.key().id()}}/like">Like</a>
    <a href="/{{post.key().id()}}/unlike">Unlike</a>
        <span>
          {{post.likes}}
          {% if post.likes == 1 %}
            like
          {% else %}
            likes
          {% endif%} 
        </span>

  </div>
</div>
