{% extends "base.html" %}

{% block content %}
  
    <div class="login">
        <h5>Login</h5>
        <p>{{error}}</p>
        <div>
            <form method="post">
                <input placeholder="Username" type="text" name="username" value="{{username}}">
                <input placeholder="Password" type="password" name="password" value="">
                <input type="submit" value="login">
            </form>
        </div>
        <div>
            <a href="">Forgot your password?</a>
        </div>
    </div>

  
{% endblock %}