{% extends "base.html" %}

{% block content %}
  
    <div class="signup">
        <h5>Create Your Account</h5>
        <p>{{error}}</p>
        <div>
            <form method="post">
                <input placeholder="Username" type="text" name="username" value="{{username}}">{{error_username}}
                <input placeholder="Password" type="password" name="password" value="">{{error_password}}
                <input placeholder="Repeat Password" type="password" name="verify" value="">{{error_verify}}
                <input placeholder="Email (optional)" type="text" name="email" value="{{email}}">{{error_email}}
                <input type="submit">
            </form>
        </div>
        <div>
            <span>By signing up, you agree to our </span><a href="">Terms & Conditions</a>.
        </div>
    </div>

  
{% endblock %}
